footer
	div.copy
		div.container
			div.row
				div.col-sm-4 © 
					a(href="https://abminventory.com") abminventory.com
				div.col-sm-4
				div.col-sm-4
					div.dev
						a(href="http://tsumbaluk.in.ua/", target="_blank", rel="nofollow") Developed by
							span Alexander Tsymbalyuk
					