doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		header
			include templates/navigation
		main
			include templates/main-promo
			include templates/about
			include templates/cases







		include templates/structure/scripts