doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		include templates/structure/header
		main
			div.content-block.center
				h1.title Write code here
				p.subtitle or click button and select some dom element
				a(href="elements.html").btn.fool my simple framework

		include templates/structure/footer			
		include templates/structure/scripts