doctype html
html.no-js(lang="ru")
	include templates/structure/head
	body
		header
			include templates/navigation-inner
		main
			include templates/news-promo
			include templates/news-list
		include templates/structure/footer
		include templates/structure/scripts