@import "bourbon"

$black: #111
$blackLight: #999

$blackEasee: #423E3F 
$blackMedium: #302F2F
$blackHard: #222021

$white: #fff
$gray: #ccc
$grayLight: #ebebeb
$red: #FE6246

$textColor: #666

//Main color schema-------
$main: #2CBC99
$second: #D0F5CA
$third: rgba(44,188,153, .5)

//Purpur color schema-----
// $second: #6200EE