@import "bourbon"
@import "_vars.sass"
@import "_mixins.sass"
@import "_form.sass"
@import "_popup.sass"
@import "_tabs.sass"

%extend_before
	position: absolute
	content: ""

%extend_inline
	display: inline-block
	position: relative
	vertical-align: top

%extend_transform
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)

.cont-wrap
	width: 100%
	@extend %extend_transform


.slider-single
	.item
		position: relative
	.gradient-bg
		min-height: 140px
		.fab
			font-size: 40px
			@extend %extend_transform
	.col-sm-10
		min-height: 140px
	.owl-nav
		position: absolute
		bottom: 5px
		right: 0
		button
			width: 40px
			span
				font-size: 20px!important


.slider-multiple	
	.owl-item
		&:nth-child(3n+1)
			background-color: $blackEasee
		&:nth-child(3n+2)
			background-color: $blackMedium
		&:nth-child(3n+0)
			background-color: $blackHard
		.item
			position: relative
			min-height: 240px
			.label
				color: $white
	.owl-nav
		position: absolute
		width: 100%
		top: 0
		left: 0
		button
			position: absolute
			width: 40px
			height: 40px
			line-height: 40px
			font-size: 22px!important
			background-color: rgba(204, 204, 204, 0.4)!important
			box-shadow: 0px 0px 3px $gray
			&:nth-child(1)
				left: -42px
			&:nth-child(2)
				right: -42px



footer 
	background-color: $main
	min-height: 50px	
	color: $white		
	position: absolute
	margin-top: 40px
	bottom: 0
	left: 0
	width: 100%
	.copy 
		position: absolute
		min-height: 50px
		bottom: 0
		left: 0
		width: 100%
		line-height: 50px
		a
			color: $white
			&:hover
				text-decoration: underline
		.dev 
			position: absolute
			right: 0
			bottom: -45px
			width: 150px
			height: 40px
			padding-left: 24px
			background-image: url(../img/copy.png)
			background-repeat: no-repeat
			background-position: center left
			line-height: 14px!important
			background-size: 20px
			font-size: 10px
			padding-top: 5px
			span 
				display: block


.title-line
	margin: 0 auto
	padding-left: 30px
	max-width: 465px
	border-left: 1px solid $blue
	h3
		color: $blue
		font-weight: 200
	p
		color: $darkBlue
		margin-top: 20px


//Custom styles---------
.main-promo
	background-color: $white
	overflow: hidden
	.promo-comtent,
	.get-more-wrap
		position: relative
		height: 100vh
	.promo-comtent:before
		position: absolute
		content: ''
		width: 100%
		height: 100%
		background-color: rgba(0,0,0, 0.5)
	.descr-block
		position: absolute
		top: 50%
		left: 10%
		max-width: 465px
		color: $white
		h1
			font-family: 'SourceSansProBlack'
			font-size: 58px
		h2
			font-weight: 100
	img
		width: auto
		max-width: 100%
		min-height: 100vh
	.get-more
		position: absolute
		bottom: 10%
		left: 25%
		color: $main
		text-transform: uppercase
		transform: rotate(-90deg)
		border-bottom: 2px solid $main
		padding: 0
		text-indent: -5px
		&:hover
			i
				transform: translate(-12px,12px)
		i
			transform: translate(-6px,12px)
			transition: transform 0.3s
//ALWAYS END
@import "_preloader.sass"
@import "media"
