section.about
	div.title-line
		h3.base-title Какой продукт мы продаем?
		div.text
			p Мы создали систему для контроля складских запасов, которая повышает скорость и обьем продаж. 
			p За 8 лет работы на рынке ритейла мы много успели.
			p И наши клиенты тоже.
	div.container
		div.row
			div.col-md-12
				div.right.pr4.mb2.mt2
					a(href="/" class="arrow-btn") Детальнее
	div.container
		div.row
			div.col-md-offset-2.col-md-10
				div.grid
					div.grid-item
						h4 60
							span млн
						p.descr товаров в обороте системы
					div.grid-item
						h4 10
							span тб
						p.descr информации для ежедневной обработки
					div.grid-item
						h4 192
						p.descr успешных проекта
					div.grid-item
						div.img-wrap
							img(src="img/numbers-block-min.jpg" alt="foto")
					div.grid-item
						h4 4
						p.descr офиса открыто в Европе и СНГ
					div.grid-item
					div.grid-item
						h4 700
						p.descr мест хранения, которыми мы управляем
					div.grid-item
						h4 44 
							span тыс
						p.descr автоматически созданных заказов в день
				div.container-fluid.about-descr
					div.row
						div.col-md-6.descr
							p Благодаря нашим клиентам мы всегда держим руку на пульсе трендов в розничной торговле.
								| И покрываем функционалом все области, требующие автоматизации. 
						div.col-md-6.descr
							div.custon-descr(data-count="5")
								p направлений, которые мы исследуем и обновляем постоянно, стали нашим фирменным стилем


