section#System.analytics
	div.container
		div.row
			div.col-md-12
				div.item-analytics
					div.container
						div.row
							div.col-md-4
								div.image.mt4
									img(src="../img/analytics.jpg", alt="photo")
							div.col-md-8
								div.descr-wrap
									div.descr
										h3.base-title.mb6 Аналитика, которая приносит результаты
										div.text
											p Мы гордимся нашим модулем аналитики и отчетности, постоянно его развиваем и дорабатываем, учитывая запросы от сотни наших клиентов и требований отрасли.
											p Ваши сотрудники теперь сами могут исследовать проблемы бизнеса и оперативно их решать, рутинными задачами занимается система.
										div.center
											a(href="/" class="arrow-btn") Детальнее
								div.right
									img(src="../img/text-block-min.jpg", style="max-width:80%" class="mt4" alt="photo")