section#Article-promo.article-promo
	img(src="../img/text-block-min.jpg" alt="main-image")
	div.promo-comtent
		div.descr-block
			div.date
				span.day 01
				span.month 08
			h1 EBay Rises to new Record High