section.cases
	div.container
		div.row
			div.col-md-12
				div.item-case
					div.descr
						h3 Интеллектуальная автоматизация
						p ABM Inventory анализирует продажи розничной сети и формирует необходимый буфер запаса для каждого наименования. 
						p Система самостоятельно формирует заказы поставщикам и следит за остатками.
						p Мониторинг задерживающихся заказов позволяет провести точную оценку надежности поставщика
					div.image
						img(src="../img/text block1-min.jpg", alt="photo")
						a(href="/" class="vertical-btn")
							span Кейсы