section.cases.mt6
	div.container
		div.row
			div.col-md-12
				div.item-case
					div.container
						div.row
							div.col-md-6
								div.descr-wrap
									div.descr
										h3.base-title.mb6 Интеллектуальная автоматизация
										div.text
											p ABM Inventory анализирует продажи розничной сети и формирует необходимый буфер запаса для каждого наименования. 
											p Система самостоятельно формирует заказы поставщикам и следит за остатками.
											p Мониторинг задерживающихся заказов позволяет провести точную оценку надежности поставщика
							div.col-md-6
								div.image.mt4
									img(src="../img/text block1-min.jpg", alt="photo")
									a(href="/" class="vertical-btn")
										span Кейсы
										i.fa.fa-chevron-right