section.clients.mt4.mb4
	div.container
		div.row
			div.col-md-12
				div.slider-multiple.owl-carousel
					div.item
						img(src="../img/vog.png", alt="logo")
					div.item
						img(src="../img/vog.png", alt="logo")
					div.item
						img(src="../img/vog.png", alt="logo")
					div.item
						img(src="../img/vog.png", alt="logo")
					div.item
						img(src="../img/vog.png", alt="logo")