section.control
	div.container
		div.row
			div.col-md-12
				div.item-control
					div.container
						div.row
							div.col-md-6
								div.image.mt4
									img(src="../img/text-block2-min.jpg", alt="photo")
							div.col-md-6
								div.descr-wrap
									div.descr
										h3.base-title.mb6 Контроль товарного ассортимента
										div.text
											p Для каждой категории товаров мы создали отдельный алгоритм работы, который учитывает их специфику продаж, сезонные колебания спроса. Например, 
												| это продукты "fresh" или запуск промо-активностей.
												| Система сможет корректно вывести товар из ассортимента и учесть все наименования-аналоги
										div.right.pr4
											a(href="/" class="arrow-btn") Детальнее