section.last-news.news-list.mt5.mb5
	h3.base-title.mb4.mt4.center Last news
	div.container
		div.row
			div.col-sm-4
				div(class="blog-card last mt3 mb3")
					.img-wrap
						img(src="img/text-block-min.jpg" alt="foto")
					.content-wrap
						span.tag Finance
						h3
							a(href="/") Unmatched Toner Cartridge Quality: 20% Less Than OEM Price
						p.mt1 There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun.
			div.col-sm-4
				div(class="blog-card last mt3 mb3")
					.img-wrap
						img(src="img/text-block-min.jpg" alt="foto")
					.content-wrap
						span.tag Finance
						h3 
							a(href="/") Unmatched Toner Cartridge Quality: 20% Less Than OEM Price
						p.mt1 There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun.
			div.col-sm-4
				div(class="blog-card last mt3 mb3")
					.img-wrap
						img(src="img/text-block-min.jpg" alt="foto")
					.content-wrap
						span.tag Finance
						h3 
							a(href="/") Unmatched Toner Cartridge Quality: 20% Less Than OEM Price
						p.mt1 There is a lot of exciting stuff going on in the stars above us that make astronomy so much fun.