section#Main-promo.main-promo
	div.container-fluid
		div.row
			div.col-md-2.get-more-wrap.clrp
				button(type="button" class="get-more" id="scrlToAbout")
					i.fa.fa-chevron-left
					| Узнать больше
			div.col-md-10.clrp
				div.promo-comtent
					img(src="../img/Image hero-min.png" alt="main-image")
					div.descr-block
						h1 ABM Inventory
						h2 Облачное решение для управления запасами розничной сети
						a(class="btn mt4" hreh="https://abmcloud.com/") Демо презентация