.navigation.big
	div.container-fluid
		div.row
			div.col-sm-2.clrp
				a(href="/" class="logo center")
					img(src="../img/logo-company.png", alt="%%title")
			div.col-sm-10.clrp
				div.container-fluid
					div.row
						div.col-sm-11.clrp
							nav.right
								ul.nav.dib
									each val, index in {1:'home',2:'portfolio',3:'shop',4:'blog',5:'about',6:'contacts'}
										li
											a(href=val+'.html' class=index==1?'active roboto-light':'roboto-light')= val
						div.col-sm-1.clrp
							div.lang-switcher.center
								span.active en
								ul
									li en
									li ru