.navigation.inner.big
	div.container-fluid
		div.row
			div.col-sm-2.clrp
				a(href="/" class="logo center")
					img(src="../img/logo-company.png", alt="%%title")
			div.col-sm-10.clrp
				div.container-fluid
					div.row
						div.col-sm-12.clrp
							nav.right
								ul.nav.dib
									each val, index in {1:'About',2:'System',3:'Clients',4:'Team'}
										li
											a(href='#'+val class=index==1?'active ':'')= val
									li.lang-switcher.center
										span.active-lang en
										ul
											li 
												a(href="en" class="en") en
											li
												a(href="ru" class="ru") ru