section#News-promo.news-promo
	img(src="../img/team.jpg" alt="main-image")
	div.promo-comtent
		div.descr-block
			h1 Блог и новости от 
				span ABM Inventory
			div.content
				div.text
					p Мы активно ведем свой информационный блог: записываем наши выступления на конференциях, 
						| берем интервью у клиентов, рассказываем о новых технологиях, 
						| переводим статьи 
						span Harvard Business Review 
						| и 
						span New York Times.
						br 
						| Подписывайтесь и получайте ежемесячный дайжест от ABM Inventory
				
				form.style
					div.form-group
						input(type="text" placeholder="E-mail" name="subscribe" id="subscribe")
					button(type="button" class="btn gradient") Подписаться