section.reviews
	div.container
		div.row
			div.col-md-12
				h3.base-title.mb6 Проекты и отзывы о нас
				div.text
					p Каждый наш проект заканчивается только тогда, когда подключено все 100% целевого ассортимента. Важно доводить дела до конца. Мы это делаем во всех наших проектах.
				div.slider-single.owl-carousel.mt4
					div.item
						div.image
							img(src="../img/cases1-min.jpg", alt="foto")
						div.content-wrap
							h4.title.black.white AVD Trade
							div.text.white
								p Розничная и мелкооптовая продажа автозапчастей и расходных материалов для коммерческих и легковых авто.
							a(href="/" class="get-more")
								i.fa.fa-chevron-left
								| Все кейсы
					div.item
						div.image
							img(src="../img/cases1-min.jpg", alt="foto")
						div.content-wrap
							h4.title.black.white AVD Trade
							div.text.white
								p Розничная и мелкооптовая продажа автозапчастей и расходных материалов для коммерческих и легковых авто.
							a(href="/" class="get-more")
								i.fa.fa-chevron-left
								| Все кейсы