section#Team.team
	div.container
		div.row
			div.col-md-6
				h3.base-title.line Команда 
					br
					| ABM Inventory
			div.col-md-offset-1.col-md-5.descr-team
				div.text
					h3.mb3 — Исследуем лучшие мировые технологии и привносим их в нашу работу
					p Мы активно ведем свой Youtube канал: записываем наши выступления на конференциях, берем интервью у клиентов, рассказываем о новых технологиях.
				div.left
					a(href="/" class="arrow-btn mb6") Детальнее
			div.col-md-12.mt4
				div.ceo
					div.image-wrap
						img(src="img/seampl7.jpg", alt="foto")
					h4 Елена Щепанник 
					p CEO ABM Inventory
					a(href="/" class="btn gradient") Перейти в блог
				img(src="img/team.png", class="team-photo" alt="photo")
