div#text.tab
	div.tab-content
		section
			div.container
				div.row
					div.col-sm-4
						div.shadow-easee.p10.mt1
							p.sans-bold.fz30 Aa Bb Cc Dd
							span.label OpenSansBold font-size 30px
							hr
							p.sans-regular.fz25 Aa Bb Cc Dd
							span.label OpenSansRegular font-size 25px
							hr
							p.sans-light.fz20 Aa Bb Cc Dd
							span.label OpenSansLight font-size 20px
							hr
							p.sans-italic.fz15 Aa Bb Cc Dd
							span.label OpenSansItalic font-size 15px

						div.shadow-easee.p10.mt1
							p.roboto-bold.fz30 Aa Bb Cc Dd
							span.label RobotoBold font-size 30px
							hr
							p.roboto-regular.fz25 Aa Bb Cc Dd
							span.label RobotoRegular font-size 30px
							hr
							p.roboto-light.fz20 Aa Bb Cc Dd
							span.label RobotoLight font-size 20px

						div.shadow-easee.p10.mt1
							p.proxima-black.fz30 Aa Bb Cc Dd
							span.label ProximaNovaBlack font-size 30px
							hr
							p.proxima-bold.fz25 Aa Bb Cc Dd
							span.label ProximaNovaBold font-size 25px
							hr
							p.proxima-regular.fz20 Aa Bb Cc Dd
							span.label ProximaNovaRegular font-size 20px
					div.col-sm-7
						div.shadow-easee.p10.mt1
							p.sans-bold.fz30 Paragraph. Lorem ipsum dolor (bold)
							span.label OpenSansBold font-size 30px
							hr
							p.sans-regular.fz25 Paragraph. Lorem ipsum dolor (regular)
							span.label OpenSansRegular font-size 25px
							hr
							p.sans-light.fz20 Paragraph. Lorem ipsum dolor (light)
							span.label OpenSansLight font-size 20px
							hr
							p.sans-italic.fz15.text Paragraph. Lorem ipsum dolor (italic)
							span.label OpenSansItalic font-size 15px

						div.shadow-easee.p10.mt1
							p.roboto-bold.fz30 Paragraph. Lorem ipsum dolor (bold)
							span.label RobotoBold font-size 30px
							hr
							p.roboto-regular.fz25 Paragraph. Lorem ipsum dolor (regular)
							span.label RobotoRegular font-size 30px
							hr
							p.roboto-light.fz20 Paragraph. Lorem ipsum dolor (light)
							span.label RobotoLight font-size 20px

						div.shadow-easee.p10.mt1
							p.proxima-black.fz30 Paragraph. Lorem ipsum dolor (black)
							span.label ProximaNovaBlack font-size 30px
							hr
							p.proxima-bold.fz25 Paragraph. Lorem ipsum dolor (bold)
							span.label ProximaNovaBold font-size 25px
							hr
							p.proxima-regular.fz20 Paragraph. Lorem ipsum dolor (regular)
							span.label ProximaNovaRegular font-size 20px